@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-body text-lightGray p-5;

    &::before,
    &::after {
        @apply h-5;
        content: "";
        position: fixed;
        width: 100%;
        background: '#fff';
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

#body {
    @apply bg-offBlack w-full h-full pt-16;
    min-height: calc(100vh - 40px);
}

h1, h2, h3, h4, h5, h6 {
    @apply font-display text-white font-thin;
}